.container{
    /* height: 550px; */
    border:
     1px black;
}

#cell{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 3px;
    
}

#cell:hover{
    box-shadow: rgb(255,83,73) 0px 0.0625em 0.0625em, rgb(255,83,73) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    
}

.mask{
    background-color: rgba(251, 251, 251, 0.2);
}

.middle{
    /* height: 450px; */
    /* border: 1px solid silver; */
    border-radius: 10px;
}

.bottom{
    height: 450px;
    /* border: 1px solid silver; */
    border-radius: 10px;
}

.row.bottom{
    height:130px;
    border: 1px solid none;
}

.col-2.completed{
    /* border: 1px solid silver; */
    border-radius: 10px;
}

.markComplete{
    background-color: rgba(234, 236, 238, 0.85);
    color:#FF5349;
    font-size: 20px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.drop:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bi.bi-check-circle{
    font-size: 20px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.choices{
    color:#FF5349;
    border-color:#FF5349;;
}

.choices:hover{
    background-color:#FF5349;;
    border: #FF5349;
    /* color: blue; */
}

.custom-control-input {
    background-color: #6C757D;
}

input[type="radio"]:checked + .choices {
    background: #FF5349;
    border: #FF5349;
    box-shadow: none;
  }
input[type="checkbox"]:checked + .choices {
    background: #FF5349;
    border: #FF5349;
    box-shadow: none;
  }