.container{
    /* height: 550px; */
    border: 1px black;
}

.middle{
    /* height: 450px; */
    border: 1px solid silver;
    border-radius: 10px;
}

.bottom{
    height: 450px;
    border: 1px solid silver;
    border-radius: 10px;
}

.row.bottom{
    height:130px;
    border: 1px solid silver;
}

.col-2.completed{
    border: 1px solid silver;
    border-radius: 10px;
}